@import '../qz/base.styl'

body.qz
	background-color $qz-background-gray
	
body.work
	background-color $work-background-gray
	
body.quartzy
	background-color $quartzy-background-gray

/* */


/*
// For At Work //
*/

// $ed-body-link-color = $work-body-link-color

/* */


/*
// For Quartzy //
*/

// $ed-body-link-color = $quartzy-body-link-color

/* */

// Optional components. Uncomment if you need them. See wiki for usage info
// note: `share` depends on `icons`
//@import '../qz/icons'
//@import '../qz/share'
//@import '../qz/dropdowns'
//@import '../qz/buttons'
//@import '../qz/chart-elements'

// Thing-specific css
@import '../qz/thing'