//- include this snipped then add the style marker-end: url(#arrowhead) to the path
svg
	defs
		marker#arrowhead(
			orient = "auto",
			viewBox = "0 0 5.108 8.18",
			markerHeight = "8.18",
			markerWidth = "5.108",
			refY = "4.09",
			refX = "5"
				)
			polygon(points = "0.745,8.05 0.07,7.312 3.71,3.986 0.127,0.599 0.815,-0.129 5.179,3.999", fill="#4c4c4c")
