.legend
	max-width 500px
	margin-left auto
	margin-right auto
	text-align center
	display block
	line-height 100%

.key
	display inline-block
	padding-right 20px
	font-size 14px
	font-family $qz-sans
	padding-bottom 0px

	// @media screen and (max-width: 460px)
	// 	font-size 11.5px

.monthWrapper
	margin-top 40px
	margin-left auto
	margin-right auto
	left 0px
	right 0px
	max-width $large-width

.titleWrapper
	font-size 30px
	font-family $qz-serif-bold
	color $qz-body-copy
	margin-bottom 10px
	text-align center

.daysWrapper
	display flex
	flex-flow row wrap
	column-gap 2px
	row-gap 2px

	@media only screen and (max-width 500px)
		flex-flow column

.eachDay
	line-height 80%
	width 13.8%
	background-color $qz-map-land-fill
	padding-bottom 15px
	border-style solid
	border-width 3px
	border-color $qz-background-color
	box-sizing border-box
	min-height 80px

	&.blank
		background-color $qz-background-color
	
	&.x
		border-color $qz-blue-2

	&.y
		border-color $qz-purp-2
	
	&.z
		border-color $qz-green-2

		
	@media only screen and (max-width 500px)
		width 100%
		padding-bottom 5px
		padding-top 5px
		display grid
		grid-template-columns 2em auto 1.5em
		min-height 40px

		&.blank
			display none

		.article
			grid-column-start 2
			grid-row-start 1
			
		.emoji
			grid-column-start 3

.dayNumber
	font-size 10px
	font-family $qz-sans-bold
	margin-left 5px
	margin-top 5px
	color #666

	&.x
		color $qz-blue-2

	&.y
		color $qz-purp-2
	
	&.z
		color $qz-green-2

	@media only screen and (max-width 500px)
		font-size 14px
		display inline-block
		vertical-align middle
		margin-bottom auto
		margin-top auto

.emoji
	font-size 18px
	text-align center
	margin-bottom 5px
	margin-top 10px

	@media only screen and (max-width 500px)
		font-size 15px
		display inline-block
		vertical-align middle
		margin-bottom auto
		margin-top auto

.article
	text-align center
	margin-bottom auto
	margin-top auto

	@media only screen and (max-width 500px)
		text-align left

	a
		font-size 12px
		font-family $qz-sans
		padding 3px
		hyphens auto
		color #666

		&:hover
			color $qz-blue-2

		@media only screen and (max-width 500px)
			display inline-block
			vertical-align middle
			font-size 14px
			margin-left 5px
			margin-bottom auto
			margin-top auto

.annoWrapper
	margin-left auto
	margin-right auto
	max-width $medium-width
	display flex
	flex-flow row nowrap
	justify-content center
	column-gap 5px

.annotation-wrapper
	vertical-align top
	width 44%
	background-color $qz-background-color
	padding 10px
	margin-top 1em
	border-style solid
	border-width 3px

	&.x
		border-color $qz-blue-2
	&.y
		border-color $qz-purp-2
	&.z
		border-color $qz-green-2

	p
		color $qz-body-color
		a
			color $qz-body-color
			text-decoration underline
	
.emojiRight
	display inline-block
	float right
	font-size 14px
	
.annotation-note-title
	padding 0 0 0.3em
	font-size 14px
	line-height 125%
	font-family $qz-sans-bold
	display inline-block

	&.x
		color $qz-blue-2
	&.y
		color $qz-purp-2
	&.z
		color $qz-green-2
	
	@media screen and (max-width: 550px)
		font-size 12px

.annotation-note
	font-size 14px
	font-family $qz-sans-light
	line-height 125%
	
	@media screen and (max-width: 550px)
		font-size 13px
