.legend
	max-width 500px
	margin-left auto
	margin-right auto
	text-align center
	display block
	line-height 100%

.key
	display inline-block
	padding-right 20px
	font-size 14px
	font-family $qz-sans
	padding-bottom 0px

	// @media screen and (max-width: 460px)
	// 	font-size 11.5px

.monthWrapper
	margin-top 40px
	margin-left auto
	margin-right auto
	left 0px
	right 0px
	max-width $large-width

.titleWrapper
	font-size 30px
	font-family $qz-serif-bold
	color $qz-body-copy
	margin-bottom 10px
	text-align center

.daysWrapper
	display flex
	flex-flow row wrap
	column-gap 2px
	row-gap 2px

	@media only screen and (max-width 500px)
		flex-flow column

.eachDay
	line-height 80%
	width 13.3%
	background-color $qz-map-land-fill
	padding-bottom 15px
	border-style solid
	border-width 1.5px
	border-color $qz-background-color

	&.blank
		background-color $qz-background-color
	
	&.x
		border-style solid
		border-width 1.5px
		border-color $qz-blue-2

		
	@media only screen and (max-width 500px)
		width 100%
		padding-bottom 5px
		padding-top 5px
		display grid
		grid-template-columns 2em auto 1em

		&.blank
			display none

		.article
			grid-column-start 2
			grid-row-start 1
			
		.emoji
			grid-column-start 3

.dayNumber
	font-size 10px
	font-family $qz-sans-bold
	margin-left 5px
	margin-top 5px
	color #666

	&.x
		color $qz-blue-2

	@media only screen and (max-width 500px)
		font-size 14px
		display inline-block
		vertical-align middle
		margin-top 1px

.emoji
	font-size 18px
	text-align center
	margin-bottom 5px
	margin-top 10px

	@media only screen and (max-width 500px)
		font-size 14px
		display inline-block
		text-align left
		vertical-align middle
		margin-top 1px
		float right
		margin-bottom 0px
		margin-top 0px

.article
	text-align center

	@media only screen and (max-width 500px)
		text-align left

	a
		font-size 12px
		font-family $qz-sans
		padding 3px
		hyphens auto
		// word-wrap break-word
		color #666

		&:hover
			color $qz-blue-2

		@media only screen and (max-width 500px)
			display inline-block
			vertical-align middle
			font-size 14px
			padding 0px
			margin-left 5px

.annoWrapper
	margin-left auto
	margin-right auto
	max-width $medium-width
	display flex
	flex-flow row nowrap
	justify-content center
	column-gap 5px

.annotation-wrapper
	vertical-align top
	width 44%
	background-color $qz-blue-2
	padding 10px
	margin-top 1em
	p
		color white
		a
			color white
			text-decoration underline

.annotation-note
	font-size 14px
	font-family $qz-sans-light
	line-height 125%
	
	@media screen and (max-width: 550px)
		font-size 13px

.annotation-note-title
	padding 0 0 0.3em
	font-size 14px
	line-height 125%
	color $qz-purp-2
	font-family $qz-sans-bold
	
	@media screen and (max-width: 550px)
		font-size 12px